* {
  margin: 0;
  padding: 0;
}

/* Center the graph network on the page */
#container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: line;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

/* Set the size of the graph network */
#graph {
  height: 100vh;
  width: 70vw;
  /* border: 1px solid red; */
}

#text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 30vw;
  /* border: 1px solid red; */
}

#node-info {
  width: 65%;
  height: 60%;
  margin: 50px;
  /* border: 1px solid red; */
  justify-content: center;
  text-align: center;
}

/* Style the form */
#add-node-form {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  width: 80%;
}

.input {
  padding: 5px;
  margin: 5px;
  font-size: 16px;
}

button {
    padding: 5px;
  margin: 5px;
}

#add-node-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}
