aside {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 10;
    width: 30vw;
    height: fit-content;
    background-color: #0a0a0a;
}

aside > div {
    border: 1px solid #f2f2f2;
    padding: 5px 15px;
    margin-bottom: 15px;
}

aside > div > div.head {
    font-size: 25px;
}

h2 {
    display: inline;
    font: inherit;
}

p.toggle_indicator {
    display: inline;
    font: inherit;
    font-family: pictosicons;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
}

div#graph {
    width: 100%;
    height: 100%;
}