* {
  /*margin: 0;
  padding: 0;*/
}

#container {
  height: 100%;
  width: 100%;
}

/* Center the graph network on the page */
#main {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: line;
  box-sizing: border-box;
}

/* Set the size of the graph network */
#graph {
  height: 78vh;
  width: 70vw;
  /* border: 1px solid red; */
}

#text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  
  height: 78vh;
  width: 25vw;
  /*border: 1px solid black;*/
}

#messages {
  height: fit-content;
  border-left: 3px solid #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
}

div > h3{
  padding: 10px;
}

#messages-inside{
  border-top: 1px solid #f2f2f2;
  padding: 0px 10px;
}

#node-info {
  height: fit-content;
  margin: 0;
  justify-content: center;
  text-align: center;
  overflow:auto;
}

#node-info > h4 {
  margin: 10px 0;
}

#node-info > div {
  font-family: noto;
}

#node-text {
  margin: 10px;
  height: fit-content;
  text-align: center;
}

/* Style the form */
#add-node-form {
  display: block;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 100%;
}

.input {
  padding: 5px;
  margin: 5px;
  font-size: 16px;
}

button {
  padding: 5px;
  margin: 5px;
}

.button-toggle-down, .button-toggle-down:hover {
  background-image: url("/img/arrow_down.png");
  background-size:cover;
  height: 20px;
  width: 30px;
  border: none;
}

.button-toggle-up, .button-toggle-up:hover {
  background-image: url("/img/arrow_up.png");
  background-size:cover;
  height: 20px;
  width: 30px;
  border: none;
}

#title-with-toggle {
  display:inline-block;
}

#add-node-button {
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

button#reset-graph {
  display: block;
  margin: 10px 0 10px 50%;
  transform: translate(-50%, 0);
  font-size: 15px;
}

textarea{
  width: 90%;
  height: 100px;
  padding-right: 50px;
}

#zoom {
  margin: 20px;
  position: absolute;
  width: 29px;
  bottom: 33px;
  right: 20px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

span {
  display: block;
  height: 29px;
  width: fit-content;
  font-size: 25px;
  left: 0;
  overflow: hidden;
  position: absolute;
  padding: 5px 15px;
  cursor: pointer;
  box-sizing: border-box;
}

span+span {
  position: fixed;
  right: 0;
  bottom: 0px;
}

span:hover {
  font-weight: bold;
}