/* old
@font-face {
  font-family: "altertype";
  src: url("../fonts/altertype_DOUBLE_JE-Regular.woff2") format("woff2");
}
*/

@font-face {
  font-family:"altertype";
  src: url("../fonts/altertype_V2-Regular.otf") format("opentype");
}

@font-face {
  font-family: "noto";
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "pictsicons";
  src: url("../fonts/pictosicons-Regular.woff2") format("woff2");
}

html {
  font-size: 16px;
  font-family: altertype, noto, sans-serif;
  color: #e5e5e5;
  background-color: #0a0a0a;
}

p {
  font-family: noto, sans-serif;
}

button {
  font: inherit;
  font-size: 20px;
  width: auto;
  padding: .2em;
  margin: 10px 0px;
  border: 1px solid #f2f2f2;
  color: #e5e5e5;
  background-color: #0a0a0a;
  cursor: pointer;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

button:hover {
  background-color: #1a1a1a;
}

#about {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 5px;
  border-top: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  /* width: 100px; */
  background-color: #0a0a0a;
  z-index: 1;
}

#button-about-ouvert, #button-about-ouvert:active, #button-about-ouvert:focus, #button-about-ferme, #button-about-ferme:active, #button-about-ferme:focus {
  font-size: 15px;
  border: none;
  width: inherit;

}

#button-about-ouvert:hover, #button-about-ferme:hover{
  background-color: #0a0a0a;
  text-decoration: underline;
}

#about-text {
  width: 800px;
  height: fit-content;
  border: none;
}

#about-text p {
  font-size: 13px;
  text-align: left;
}

#button-hide{
  position: fixed;
  top: 0;
  right: 10px;
  font-size: 30px;
  border: none;
}


/*********************************** HEADER WITH TITLE: BABEL REVOLUTION ***************************************/
header {
  display: block;
  width: 650px;
  height: fit-content;
}

header > div > img {
  margin: 15px 0 0 10px;
  width: 50%;
  cursor: pointer;
  caret-color: #0a0a0a;  /* hide the text cursor by giving it the same color than the background */
}